<form action="/my-handling-form-page" method="post">
  <div>
    <label for="task">Task:</label>
    <input type="text" id="task" />
  </div>
  <div>
    <label for="complete">Complete:</label>
    <input type="checkbox" id="complete" value="true"/> Check if completed
  </div>

  <div class="button">
        <button type="submit">Submit New Todo</button>
    </div>
</form>
