
<form action='/todos' method="post">
  <div class="form-group">
    <label for="task">Task:</label>
    <input type="text" class="form-control" placeholder="Email" id="task" name="name"/>
  </div>

  <button type="submit" class="btn btn-warning">Submit</button>
</form>
