<div class='container'>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Todos: </th>
      <th>Completed?</th>
    </thead>
    <tbody>
      <th scope="row"><%= task.id %></th>
      <td><%=task.name%></td>
      <td><%= task.complete %></td>
    </tbody>
  </table>
</div>
