/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  color: #387282;
  background-color: #488C9C;
}

.table {
  color: #EEF1ED;
}

th {
  font-size: 1.25em;
  color: #8E3C36;
}

a {
  color: #8E3C36;
}

.alerts {
  font-size: 2em;
  color: #FFA500;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

h1 {
  margin: 0px;
}

h1 a {
  color: #8E3C36;
  font-size: 1em;
}

h1 a:hover {
  color: #8E3C36;
  text-decoration: none;
}

label {
  font-size: 24px;
  color: #FFFFFF;
}

button {
  margin: 3px;
}

.btn-warning {
  padding: 5px;
  background-image: none;
  background-color: #BD9E00;
  border-color: #BD9E00;
  transition: 1s ease;
}

.btn-warning:hover {
  background-color: #BD9E00;
  border-color: #555555;
  transition: 1s ease;
}

.left {
  float: left;
}

table {
  font-size: 1.25em;
}

td a {
  color: #8E3C36;
  transition: 1s ease;
}

td a:hover{
  color: #FF9900;
  text-decoration: none;
  transition: 2s ease;
}

.jumbotron {
  color: #555555;
  text-align: center;
  background-color: #FFA500;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  background: orange;
}

footer p {
  line-height: 6.5;
  font-size: 1.5em;
}

form {
  margin: 10px;
}

