<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
    <header>
      <div class="jumbotron">
        <div class="container">
          <h1>Todo or not Todo</h1>
        </div>
      </div>
    </header>

    <div class="container">
      <button type="button" class="btn btn-warning"><h1><a href="/todos">Todos</a></h1></button>
      <button type="button" class="btn btn-warning"><h1><a href="/todos/new">Create</a></h1></button>
    </div>

    <div class="container">
      <main><%= yield %></main>
    </div>
  </div>

  <footer class = "site-footer">
    <div class="container ">
      <p>Whelp, see ya later! (C) Mike HUGHES</p>
    </div>
  </footer>
</body>
</html>
